---
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  annotations:
    traffic.spinnaker.io/load-balancers: '["service helloworldwebapp-service"]'
  labels:
    app: helloworldwebapp
  name: helloworldwebapp-frontend
  namespace: helloworldwebapp-staging
spec:
  replicas: 3
  selector:
    matchLabels:
      app: helloworldwebapp
  template:
    metadata:
      labels:
        app: helloworldwebapp
    spec:
      containers:
        - image: gcr.io/cf-spinnaker/github_okundzich_helloworldwebapp # will be modified on deployment to point at a digest of an image
          name: helloworldwebapp
